<div class="pageTitle">
    <h2>
        <span style="font-weight: 300;">VIEW</span>
    </h2>
    <h3 class="yr">YOUR</h3>
    <h2 id="freezer-title-label">FREEZER</h2>
</div>
<div class="freezer-grid">
  <% freezers.forEach(function(freezer) { %>
    <div class="freezer-badge">
      <img src="<%= freezer.imageUrl %>" alt="Freezer NFT Image" class="freezer-image">
      <div class="freezer-info">
        <h3 style="text-align: center;"><%= freezer.name %></h3>
        <ul>
          <li><strong>Lock Date:</strong> <%= freezer.lockDate %></li>
          <li><strong>Unlock Date:</strong> <%= freezer.unlockDate %></li>
          <li><strong>WETH Locked:</strong> <%= freezer.wethLocked %></li>
        </ul>
      </div>
    </div>
  <% }); %>
</div>
<div id="freezerModal" class="modal">
    <div class="modal-content">
      <span class="close">&times;</span>
      <div id="modalFreezerBadge" class="large-badge">
        <!-- Content will be dynamically populated -->
      </div>
    </div>
  </div>
  